Value INTF (\S+)
Value IPADDR (((\d{1,3}\.){3}\d{1,3})|unassigned)
Value LINK_STATUS (up|down|administratively down)
Value PROTOCOL_STATUS (up|down)

Start
  ^${INTF}\s+${IPADDR}\s+\w+\s+\w+\s+${LINK_STATUS}\s+${PROTOCOL_STATUS} -> Record
  # Capture time-stamp if vty line has command time-stamping turned on
  ^Load\s+for\s+
  ^Time\s+source\s+is
